$white: #ffffff;
$white-smoke: #fafafa;
$silver: #CCD0D1;
$gray: #808080;
$black: #2d2d2d;

$blue: #7a6cea;
$red: #FF4136;

$color-base: $gray;
$color-primary: $blue;
$color-secondary: $black;
$color-error: $red;

$text-color-primary: $gray;
$text-color-secondary: $black;
$text-color-tertiary: $blue;

$background-color-primary: $white-smoke;
$background-color-secondary: $blue;
