.btn {
	display: inline-block;
	color: $white;
	font-family: $text-heading-font;
	border: 0;
	padding: 20px 50px;
	margin: 10px 0;
	transition-duration: 200ms;
	background: $background-color-secondary;
	border-radius: 25px;
	text-transform: uppercase;

	&:hover {
		background: $black;
	}
}
